body {
  background-color: #FaFaFa;
}

.todo-header {
  text-align: center;
  font-weight: normal;
  color: #003258;
  font-size: 38pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: .8;
}

.content {
  margin: 0em 10em;
  max-height: 700px;
  overflow: auto;
}

.list-item-text {
  margin : 2px;
  font-weight : normal;    
}

.list-item:hover, .list-item:hover > h3 {
  background-color: #F3F3F3;
  color: rgb(0, 188, 212) !important;
}

@media only screen and ( max-width: 768px ) {
  .content {
    margin : 0px;
  }
}